.top-swiper {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.top-swiper__swiper {
  height: 30rem;
}
.top-swiper__swiper-border {
  border-radius: 1rem;
  overflow: hidden;
}
.top-swiper__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.top-swiper__swiper:hover .swiper-button-prev,
.top-swiper__swiper:hover .swiper-button-next {
  opacity: 1 !important;
}
.top-swiper__swiper .swiper-button-prev,
.top-swiper__swiper .swiper-button-next {
  width: 3rem;
  height: 3rem;
  opacity: 0 !important;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.top-swiper__swiper.swiper-rtl .swiper-button-prev {
  top: 25rem;
  right: 3rem;
}
.top-swiper__swiper.swiper-rtl .swiper-button-next {
  top: 25rem;
  right: 7rem;
}
.top-swiper__swiper .swiper-button-prev::after,
.top-swiper__swiper .swiper-button-next::after {
  display: block;
  font-size: 1rem;
  color: #000;
  font-weight: bold;
}

.swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 1.5rem;
  height: 0.7rem;
  border-radius: 0.5rem;
}
