.selected-products__content {
  width: 25%;
  position: relative;
  padding: 1rem;
  border-left: 1px solid var(--border-color-100);
  border-bottom: 1px solid var(--border-color-100);
}
.selected-products__content:nth-child(4n) {
  border-left: none;
}
.selected-products__content-finish {
}
.selected-products__content-finish-progress {
  height: 4px;
  width: 100%;
  background-color: #f1f2f4;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.selected-products__content-finish-progress-bar {
  content: "";
  position: absolute;
  height: 100%;
  /* width: 60%; */
  background-color: var(--primary-color);
  left: 0;
}
.selected-products__content-finish-sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selected-products__content-finish-sale-text {
  color: var(--muted-color);
  font-size: 1.2rem;
}
.selected-products__content-finish-sale-text span {
  color: var(--primary-color);
}
.selected-products__content-finish-sale-time {
  color: var(--primary-color);
  font-size: 1.3rem;
}
.selected-products__content-add-to-cart {
  position: absolute;
  top: 15rem;
  right: 3rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-products__content-add-to-cart-btn {
  border: none;
  outline: none;
  background-color: transparent;
}
